@font-face {
    font-family: PingFang Regular ;
    src: url("../fonts/PingFang Regular.ttf");
}
@font-face {
    font-family: PingFang Medium ;
    src: url("../fonts/PingFang Medium.ttf");
}
html,body,.mui-content{
	background: #414958;
}
.mui-bar .wph{
    right: 0;
    left: 0;
    display: inline-block;
    overflow: hidden;
    width: 100%;
    margin: 0;
    text-overflow: ellipsis;
}{
    right: 0;
    left: 0;
    display: inline-block;
    overflow: hidden;
    width: 100%;
    margin: 0;
    text-overflow: ellipsis;
}
.wlogo{
	width: 135px;
	height: 25px;
	position: absolute;
	top: 12px;
	left: 10px;
}
.wlogo img{
	width: 100%;
	height: 100%;
}
.Wai .mui-segmented-control .mui-control-item{
	border: initial;
	width: initial;
	margin: initial;
	color: #8F8F94;
}
.Wai .mui-segmented-control{
	border: initial;
	width: 100%;
	margin: initial;
	top: 0;
}
.Wai .whn{
	margin-top: 50px;
	background-color: initial;
}
.Wai .mui-table-view::before{
	height: initial;
}
.Wai .mui-table-view-cell{
	float: right;
	margin: 0;
	margin-right: 5px;
	padding: 0;
	width: 60px;
}
.Wai .h5-3{
	display: block;
	width: 60px!important;
}
.Wai_M{
	float: right;
	width: 30px;
	height: 100px;
	background-color:initial;
	padding-left: 30px;
}
.Wai .mui-collapse-content{
	float: right;
}
.Wai .mui-navigate-right::after, .mui-push-right::after{
	right: 0;
}
.Wai .mui-table-view{
	padding: 0;
	background-color: #424955;
	background-color: initial;
}
.Wai .mui-table-view-cell.mui-collapse .mui-collapse-content{
	background-color: #424955;
	margin: 0;
	padding: 0;
	padding: 5px;
	width: 70px;
	text-align: center;
	
}
.Wai .mui-table-view::after{
	background-color: initial;
}
.Wai .mui-collapse-content p{
	color: #C8C8C8;
}
.Wai .mui-navigate-right::after{
	color: #2AC276;
}

.mui-bar-nav.mui-bar .mui-icon{
	color: #FFFFFF;
}
.mui-bar-nav{
	top: 0;
    -webkit-box-shadow: 0 1px 6px #464d5a;
    box-shadow: 0 1px 6px #464d5a;
}
.mui-bar{
	font-family: PingFang Regular;
	background:url(../img/wallet_vt_bg.png) no-repeat left center;
	background-size: 100% 100%;
	height: 88px;
}
.wdh .mui-bar{
	background: initial;
	background-color: #464d5a!important;
	height: 88px;
}
.jyjlh .mui-bar{
	background: initial;
	background-color: #414958!important;
	height: 70px;
}
.wwd{
	background-color: #464d5a!important;
	height: 88px;
}
.whn{
	margin-top: 60px;
	background-color: #30363f;
}
.h5-1{
	margin-left: 3%;
	float: left;
}
.h5-2{
	float: left;
	margin-left: 25%;
}
.h5-3{
	float: right;
	margin-right: 3%;
}
.Wei1h .h5-2{
	float: left;
	margin-left: 15%;
}
.Wei1h .h5-4{
	float: right;
	margin-right: 20%;
}
.h5-m{
	float: left;
	margin-left: 5%!important;
}
.mui-bar-nav~.mui-content{
	padding-top: 88px;
}
.mui-title{
	font-family: PingFang Regular;
	font-size: 1rem;
	color: #ffffff;
}
.wspan{
	margin-top: 12px;
	margin-right: 4px;
	float: right;
	font-family: PingFang Medium;
	color: #C7C7CC;
}
.wspan img{
	width: 1.6rem;
	height: 1.6rem;
}
.wc{
	margin-right: 3%;
	margin-top: 3%;
}
.wc .mui-table-view{
	background-color:0;
	display: initial;
}
.wc .mui-table-view-cell{
	font-family: PingFang Regular;
	color: #FFFFFF;
}
.Wei1c .mui-table-view-cell{
	margin-bottom: 15px;
}
.mui-segmented-control .mui-control-item.mui-active{
	background: 0 !important;
	color: #2AC845;
	border-bottom: 3px solid #2AC845;
	font-family: PingFang Regular;	
}
.mui-table-view-cell>.mui-badge2{
	position: absolute;
    top: 40%;
    left: 41%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}
.wc .mui-badge-red{
	background-color: initial;
	font-size: 14px;
	color: #2AC845;
}
.wc .mui-table-view-cell>.mui-badge{
	top: 40%;
	font-size: 16px;
}
.fdibu{
	text-align: center;
	padding-left: 5%;
	padding-right: 5%;
	padding-top: 15px;
	padding-bottom: 35px;
	background:url(../img/wallet_eth_bg.png) no-repeat left center;
	background-size: 90% 100%;
}
.fdibu span{
	font-family: PingFang Medium;
	font-size: 10px;
	color: #8C8C8C;
}
.wdh .mui-bar{
	height: 0;
}
.wdc{
	padding: 18px 15px 0;
}
.wdcba{
	background: url(../img/wallet_btc_bg.png) no-repeat left center;
	background-size: 100% 100%;
}
.wdc .wallet_con_list {
    height: 113px;
    border-radius: 10px;
    margin-bottom: 19px;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
}
.wdc .wallet_list_left {
    text-align: center;
}
.wdc .wallet_list_right p{
    margin-bottom: 0;
    width: 100px;
    height: 25px;
}
.Wei .wallet_list_right p{
	float: left;
	width: 42px;
}
.Wei b{
	color: #2AC276!important;
}
.Wei .wdcs{
	width: 30px!important;
	height: 30px;
}
.Wei .wdcs img{
	width: 100%;
	height: 100%;
}
.wdc .wallet_list_left_img {
    width: 55px;
    height: 55px;
    margin-bottom: 8px !important;
}
.wdc .wallet_list_left_img img {
    width: 100%;
}
.wdc span{
float: left;
    font-size: 14px;
    margin: 0;
    width: 50px!important;
    color: #8f8f94;
    display: block;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.wdc b{
	color: #FFFFFF;
}
.wdc .wallet_list_right{
	margin-right: 100px;
}
.wdc .wallet_list_right span{
	width: 100px;
	color: #C7C7CC;
}
.wdc .wallet_list_right span.wdcs{
	color: #2AC845;
}
.wdc2 .mui-table-view-cell{
	overflow: inherit;
    margin-bottom: 0!important;
    padding: 15px;
    font-family: PingFang Regular;
    color: #EFEFF4;
}
.wdc2 .mui-table-view{
	background: 0 !important;
}
.wdc2 .mui-table-view:before{
	background-color:initial;
}	
.wdc2 .mui-table-view-cell:after{
	background-color:  #848487;
}
.wdc2 .jiantou::after{
	color: #2AC845;
}
.rjmxc{
	margin-top: 15%;
}
.rjmxc .mui-table-view{
	background: 0 !important;
}
.rjmxc .mui-table-view:before{
	background-color:initial;
}
.rjmxc .mui-table-view-cell:after{
	position: absolute;
    right: 5%;
    bottom: 0;
    left: 5%;
    height: 1px;
    content: '';
    -webkit-transform: scaleY(.5);
    transform: scaleY(.5);
    background-color: #c8c7cc;
}
.rjmxc .mui-table-view:after{
	background-color: initial;
}
.rjmxc .mui-table-view-cell{
	overflow: inherit;
    margin-bottom: 0!important;
    padding: 20px;
    font-family: PingFang Regular;
    color: #FFFFFF;
    font-size: 12px;
}
.mingxi{
	color: #2AC845;
    float: right;
}
.rjmxc time{
	position: absolute;
	top: 40px;
	left: 5%;
	font-size: 16px;
}
.a1{
	width: 50%;
	float: left;
}
.jyjlc{
	margin-top: 80px;
}
.jyjlc .mui-segmented-control .mui-control-item.mui-active{
	background: 0 !important;
    color: #2AC845;
    border-bottom: 3px solid #2AC845;
    font-family: PingFang Regular;
}
.jyjlc .mui-segmented-control .mui-control-item{
	line-height: 38px;
    display: table-cell;
    overflow: hidden;
    width: 1%;
    -webkit-transition: background-color .1s linear;
    transition: background-color .1s linear;
    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #8C8C8C;
    border-color: #414958;
    border-left: 1px solid #414958;
}
.jyjlc .mui-segmented-control{
	border: 0;
}
.jyjlc .mui-table-view{
	background-color: initial;
	color: #FFFFFF;
}
.jy2{
	margin-top: 50px;
}
.jy3{
	margin-top: 50px;
}
.jyjlc time{
	position: absolute;
	top: 40px;
	left: 3%;
	font-size: 16px;
}
span.jys{
	color: #2AC276;
}
.jy2 div{
	width: 40%;
	float: left;
}
.jy3 div{
	width: 33%;
	float: left;
}
.jy2 span,.jy3 span{
	float: left;
	font-size: 12px;
	padding: 5px;
}
.jy-btn{
	position: absolute;
	text-align: center;
	width: 50px!important;
	height: 22px;
	right: 5px;
	bottom: 30px;
	border-radius: 5px;
	background-color: #2bc276;
}
.jyjlc li:active{
	background: 0!important;
}
.mui-table-view-cell > a:not(.mui-btn).mui-active {
    background-color: initial;
}
.mui-table-view-cell, .mui-table-view-cell:active {
    background-color: initial;
}
.mui-table-view-cell.mui-active{
	background-color: initial;
}
.zhezao{
	position: absolute;
	z-index: 999;
	width: 100%;
	height: 20%;
}
.zyzk-btn{
	float: right;
    padding: 2px;
    padding-left: 4px;
    padding-right: 4px;
    display: inline-block;
    color: #2AC845;
    border: 1px solid #2AC845;
    border-radius: 30px;
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 80%;
    font-family: PingFang medium;
}
.submit_btn{
    margin-top: 60px;
    width: 100%;
    background-color: #2bc276 !important;
    border: none !important;
    color: #fff;
    border-radius: 0;
    padding: 10px 0 !important;
    font-size: 1rem !important;
    font-family: PingFang Regular;
}

.zyzk{
	padding-top: 60px;
	margin-left: 3%;
	margin-right: 3%;
}
.zyzk .mui-table-view{
	background-color: initial;
	color: #E5E5E5;	
	font-family: PingFang Regular;
}
.zyzk>.mui-table-view:first-child{
	margin-top: initial;
}
.zyzk .mui-table-view:after{
	left: 15px;
}
.zyzk .mui-table-view:before{
	background-color: initial;
}
.zyzk .mui-table-view-cell{
	margin-top: 50px;
	text-align: center;
}

.mui-numbox [class*=btn-numbox], .mui-numbox [class*=numbox-btn]{
	color: #E5E5E5;
	background-color: initial;
}
.mui-numbox{
	background-color: initial;
	width: 140px;
	border-radius:30px;
	border: 1px solid #E5E5E5;    
}
.mui-numbox-input{
	background-color: initial!important;
}
.mui-popup-button{
	color: #2AC845;
}
.gz .mui-bar{
	background: initial;
    background-size: 100% 100%;
    height: 50px;
}
.gzc .span_left{
	float: left;
	font-family: PingFang Medium;
	font-size: 14px;
	color: #C0C0C0;
}
.Weimai .span_left{
	float: left;
	margin: 10px;
	font-family: PingFang Medium;
	font-size: 14px;
	color: #C0C0C0;
	margin-right: 21px;
}
.gzc .span_right{
	float: right;
	font-family: PingFang Medium;
	font-size: 16px;
	color: #C0C0C0;
	text-align: right;
}
.gzc .mzbtn{
	float: initial!important;
]}
.kehuazhuan {
	left: 3%;
	right: 3%;
    font-size: 0.7rem;
    color: #2fad70 !important;
}
.mui-table-view-cell_kehuazhuan:after{
	background-color: initial!important;
}

.gzc .personal_con ul li p{
	color: #2AC845;
	font-size: 20px;
}
.gzc .personal_con ul .neirong p{
	color: #BBBBBB;
	font-size: 14px;
	font-family: PingFang Regular;
}
.mzmd{
	background: initial;
}
.mzbtn .mui-segmented-control .mui-control-item.mui-active{
	background: #2bc276!important;
    color: #FFFFFF;
    border: 3px solid #2bc276;
    border-radius: 25px;
}
.mzmtv span{
	margin-right: 5px;
	margin-left: 0px;
}
.jysl{
	font-size: 12px!important;
}
.mzh5{
	color: #2bc276;
}
.mzbtn .mui-segmented-control{
	border: initial;
    width: 75%;
    font-size: 10px;
}
.mzbtn .mui-segmented-control .mui-control-item{
	color: #2bc276;
    border-color: #007aff;
    border-left: initial;
    border: 1px solid #2bc276;
    border-radius: 25px;
    line-height: 16px;
}
.Weimai .mui-segmented-control .mui-control-item{
	color: #fff!important;
}
.Weimai .mui-segmented-control .mui-control-item{
	display: inherit;
    float: left;
	transition: background-color .1s linear;
    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.qsxy{
	height: 88px!important;
}
.qsxy div{
	position: absolute;
	top: 60px;
	font-family: PingFang Medium;
	color: #BBBBBB;
}
.qsxy .mui-btn{
	position: absolute;
	top: 50px;
	right: 3%;
	color: #FFFFFF;
	background-color: #2bc276;
	border-radius: 5px;
	border: initial;
}
.qscborder{
	margin: 20px;
	margin-top: 100px;
	width: 340px;
	height: 300px;
	border: 1.4px dashed #2bc276;
}
.qsxyc .submit_btn{
	width: 90%!important;
	margin-left: 5%!important;
}
.qsxyc h4{
	padding: 10px;
	font-family: PingFang Medium;
	text-align: center;
	color: #D4D4D4;
}
.qsxyc h6{
	padding-top: 8px;
	padding-left: 10px;
	padding-bottom: 10px;
	font-family: PingFang Regular;
	color: #F2F2F2;
	line-height: 20px;
}
.qsch6{
	color: #2ac276!important;
	text-align: center;
	letter-spacing: initial!important;
	line-height: initial!important;
}
.fxgz .qsch6{
	color: #2ac276!important;
	text-align: initial;
	letter-spacing: initial!important;
	line-height: initial!important;
}
.fxgzh h4{
	margin: 20px;
	margin-top: 60px;
	font-size: 16px;
	color: #D4D4D4;
	font-family: PingFang Medium;
	text-align: center;
}
.fxgz{
	margin: 20px;
	margin-top: 80px;
}
.mui-popup-inner,.mui-popup-button{
	background: #24292f;
}
.mui-popup-title+.mui-popup-text{
	color: #F8F8F8;
}
.mui-popup-button{
	color: #F8F8F8;
}
.mui-popup-inner:after,.mui-popup-button:after{
	background-color: #5E5E5E;
}
.wph .mui-control-item{
	width: initial!important;
	float: initial;
}

.wph .mui-table-view-cell {
    float: initial;
    margin: initial;
    margin-right: initial;
    padding: 0;
    padding-top: 6px;
    width: initial;
}
.wph .Wai_M{
    float: left;
    width: 100%;
    margin-top: 24px;
    height: 150px;
    padding-left: initial;
}

.wph .mui-table-view-cell.mui-collapse .mui-collapse-content{
	width: 100%;
	padding:initial;
	text-align: left;
}

.whc_tab span{
	font-family: PingFang Regular;
}
.whc .mui-btn{
	font-family: PingFang Regular;
}
.p_l{
	float: left;
}
.p_l a{
	float: left;
	display: block;
	width: 40px;	
}
.p_l a span{
	color: #2BC276;
	font-size: 14px;
}
.p_r{
	float: right;
}
.p_r a{
	margin-top: 5px;
	margin-bottom: 5px;
	float: right;
	display: block;
	width: 80px;
}
.p_r span{
	text-align: center;
	display: block;
	margin-top: 10px;
	margin-bottom: 5px;
	color: #F1F1F1;
	font-size: 24px;
}
.p_r_b_geren{
	color: #2AC845;
}
.p_r_b_red{
	color: #fc3030;
}
.p_r a{
	float: right;
}
.span_f_green{
	margin-top: 10px;
	margin-right: 5px;
	float: left;
	color: #2bc276;
	font-size: 36px;
	font-weight: bold;
}
.span_l_white{
	font-size: 20px;
	position: absolute;
	top: 60px;
	left: 15px;
	color: #F1F1F1;
}
.span_l_white h6{
	position: absolute;
	top: 50px;
	left: 15px;
	font-weight: bold;
}
.span_l_med{
	margin-top: 25px;
	margin-right: 12px;
	font-size: 20px;	
	color: #F1F1F1;
	text-align: center;
	float: left;
	
}
.whc .mui-table-view{
	background-color: initial;
}
.p_r_btn{
	float: right;
	display: block;
	width: 25px;
	height: 70px;
}
.p_r_btngreen{
	color: #FCFFFF;
    background-color: #2BC276;
}

.p_r_btnred{
	color: #FCFFFF;
    background-color: #FF3333;
}
.p_btn{
	width:50px;
	height:30px;
	background-color:#c1c1c1;
	margin:0px;
	padding: 0;
	border-radius: 10px;
    border: 1px solid #ff3333;
}
.whc_btn_group div{
	
}
.whc_btn_group{
	display: flex;
	display: -webkit-flex;/*chorme*/
　　 display: -ms-flex;/*ie*/
	justify-content:center ;
	width: 100%;
}
#box{
    display: flex;
    display: -webkit-flex;
    border: initial;
    height: 100px;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.btn-item{
	font-family: PingFang Regular;
	font-size: 16px;
	text-align: center;
	color: #FFFFFF;
    width: 70px;
    height: 30px;
    padding: 0;
    padding-bottom: 0px;
    padding-top: 2.5px;
    margin: 10px;
    border: 1px solid #2BC276;
    border-radius: 10px;
    background-color: #2BC276;
}
.btn-item-red{
	background-color: #FF3333;
    border: 1px solid #FF3333;
	
}
.Wei1c .mui-table-view-cell .sp_r{
	font-family: PingFang Regular;
    font-size: 12px;
	color: #fff;
	position: absolute;
	top: 40%;
    right: 15px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    
}
.Wei1c .mui-table-view-cell .sp_ml{
	font-size: 14px;
	position: absolute;
    top: 40%;
    left: 30%;
    transform: translateY(-50%);
    color: #fff;
    background-color: #2ac276;
    border-radius: 5px;
    padding: 5px;
    text-align: center;
    width: 80px;
}
.Wei1c .mui-table-view-cell .sp_mr {
    font-size: 14px;
    position: absolute;
    top: 40%;
    right: 23%;
    transform: translateY(-50%);
    color: #dd524d;
    /* background-color: #dd524d; */
    border-radius: 5px;
    padding: 5px;
    text-align: center;
    width: 80px;
}
.Wei1c .mui-table-view-cell:last-child:after, .mui-table-view-cell:last-child:before{
	height: 1px!important;
}
.fontgreen{
	color: #2AC276!important;
}
.fontred{
	color: #FF3333!important;
}
.Wei1c .bcolorred{
	background-color: #FF3333!important;
}
.Weimai .mui-segmented-control{
	width: 100%;
    margin: 3%;
    height: 70px;
    margin-bottom: 0;
}
.Weimai .mui-segmented-control .mui-control-item{
	font-family: PingFang Medium;
	color: #2bc276;
    border-color: #007aff;
    border-left: initial;
    border: 1px solid #323740;
    border-radius: 10px;
    line-height: 16px;
    font-size: 0.75rem;
    letter-spacing: 2px;
    background-color: #323740;
}
.Weimai .mui-segmented-control .mui-control-item.mui-active{
	border-radius: 10px;
	font-size: 0.9rem;
}
.Weimai .mui-segmented-control a{
	margin: 5px;
}
.Weimai .mui-input-group{
	background-color: initial;
}
.Weimai .mui-input-group:before{
	background-color:initial;
}
.Weimai .mui-input-row label{
	text-align: left;
	width: 15%;
}
.Weimai .mui-input-row label~input, .mui-input-row label~select, .mui-input-row label~textarea{
	float: left;
}
.Weimai .mui-input-group .mui-input-row:after{
	background-color: initial;
}
.Weimai .mui-input-group:after{
	background-color: initial;
}
.Weimai .mui-table-view-cell{
	padding: 15px;
    padding-left: 25px;
}
.Weimaif span{
	color: #F1F1F1;
}
.Weimaif .submit_btn{
	margin-top: 30px;
}
.Weijy .jy-right{
	width: 25%;
}
.Weiship .fontgreen{
	font-size: 11px;
}
.Weiship .m-t-v-c1{
	padding-bottom: 30px;
}
.Weiship .Weiship-btn{
	font-family: PingFang Regular;
    text-align: center;
    color: #FFFFFF;
    width: 33.3%;
    margin-bottom: 0;	
    padding: 10px;
}
.Weiship-btn-group{
    border: initial;
    margin-top: 50px;
    height: 45px!important;
    width: 100%;
    align-items: initial!important;
    justify-content: initial!important;
}
