.walletTo_box {
    padding: 34px 20px 50px;
	background-color: #31373f;
	text-align: center;
}
.walletTo_box_qrCode_img {
    width: 160px;
    height: 160px;
    margin: auto;
    padding: 5px;
    background-color: #fff;
    margin-bottom: 8px;
}
.walletTo_box_qrCode_img img {
	width: 100%;
	height: 100%;
}
.walletTo_box_qrCode_no {
    margin-bottom: 15px;
    font-family: Arial;
    font-size: 0.9rem;
    color: #2bc276;
}
.walletTo_box_copy_address {
    color: #fff;
    font-family: Arial;
    font-size: 0.9rem;
	margin-bottom: 5px;
	word-wrap : break-word;
}
.walletTo_box_copy_btn {
    color: #2bc276;
    font-size: 0.95rem;
    font-family: PingFang Regular;
}
.walletTo_box_copy_address {
    color: #fff;
    font-family: Arial;
    font-size: 0.9rem;
    margin-bottom: 5px;
    width: 100%;
    word-wrap: break-word;
    border: none;
    background: #31373f;
}